<div class="footer-content">
    <div class="footer-nav is-flex content is-justify-content-center mr-2 columns is-flex-wrap-wrap">
        <div class="socials column is-flex is-justify-content-center">
            <h5>Follow us:</h5>
            <div class="social-items is-flex">
                <a><i class="pi pi-instagram mx-2"></i></a>
                <a><i class="pi pi-facebook mx-2"></i></a>
                <a><i class="pi pi-twitter mx-2"></i></a>
            </div>
        </div>
        <div class="links column is-flex is-justify-content-center">
            <h5 class="is-flex-wrap-nowrap">Contact us:</h5>
            <div class="contact-items is-flex">
                <a href="mailto:jason.sullenger@gmail.com">
                    <i class="pi pi-envelope mx-2"></i>
                </a>
                <a href="https://www.linkedin.com/in/jason-sullenger-77a8aa54/"
                target="_blank">
                <i class="pi pi-linkedin mx-2"></i>
                </a>
                <a href="https://github.com/Sullenger" target="_blank">
                    <i class="pi pi-github mx-2"></i>
                </a>
                <a href="tel:2089541709">
                    <i class="pi pi-phone mx-2"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="description mr-4 is-align-self-center column is-full-mobile has-text-centered-mobile">
        <p>Information pulled from the Crossref API for display purposes only.
             The data being rendered is the property of Crossref.</p>
    </div>
    <div class="copyright has-text-centered">
        <p>Copyright &#169; 2022. Jason Sullenger. All Rights Reserved.</p>
    </div>
</div>
